<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>QPrint</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<h2>PDF Please</h2>
<form action="/print" method="post" id="print-form" style="font-family: sans-serif;">
    <input type="file" name="file" style="font-size: 1.5rem">
    <input type="submit" value="Print" style="font-size: 1.5rem">
</form>
<h2 id="print-result" style="font-family: sans-serif;"></h2>
<a href="">My source code ❤</a>
<footer style="position: absolute; bottom: 0; width: 100%; text-align: center; font-family: sans-serif;">
    <a href="#" onclick="window.alert('Privacy = 0, cant wait to see what you have uploaded')">Privacy Policy</a>
</footer>
<script>
    // Read file and send it as base64 string
    const form = document.getElementById('print-form');
    const resultDiv = document.getElementById('print-result');

    const toBase64 = file => new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
    })

    form.addEventListener('submit', async function (e) {
        e.preventDefault();

        resultDiv.innerHTML = 'Loading...';

        const file = document.querySelector('input[type="file"]').files[0];

        if (!file) {
            return resultDiv.innerHTML = 'No file hmm... 🤔 Ok I will not print anything';
        }

        const b64 = await toBase64(file);

        const result = await fetch('/print', {
            method: 'POST',
            body: b64
        });

        resultDiv.innerHTML = await result.text();
    });
</script>
</body>
</html>